#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

  .imagens-galeria{
    width: 200px;
    height: 300px;
    overflow: hidden;

  }
.galeria{
  display: flex;
  align-content: space-between;
  flex-direction: row;
}
.header{
  color: aqua;
}

.sobre{
  color: aquamarine;
}